# helm repo add openbao https://openbao.github.io/openbao-helm

# helm install openbao openbao/openbao --values a-demo/values.yaml --create-namespace

#bao operator init
#Unseal Key 1: uXmwJnPRFf/a1QjGi+wF2h6rt0fCr0GlbkU8igLeToFG
#Unseal Key 2: BeTw40qeaL82f2NBTVPd3bB/2S6mIFkxjGPzvIjATjaG
#Unseal Key 3: rGY+sK5m1BKazpGJPwPulshMR7IIuTMsvoKPnKn64VpA
#Unseal Key 4: BEvFTlI4EpFozGhL718EcSe+2UaVYMJjErpq6o4+hkIr
#Unseal Key 5: 0Ikpma8kwuPActAAXVQyrec9DcT+bZDDsQuKSanHvUep

#Initial Root Token: s.MGCgMzwqigUb4SgoQs4kTcJy

# bao operator raft snapshot save -address http://127.0.0.1:8200 snap1
# bao operator raft snapshot restore -address http://127.0.0.1:8200 snap1

global:
  enabled: true
  tlsDisable: true
  namespace: openbao
server:
  # HA-Modus aktivieren
  ha:
    enabled: true
    replicas: 3
    
    # Raft Storage Backend für HA
    raft:
      enabled: true
      setNodeId: true
      
      config: |
        ui = true
        
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        
        storage "raft" {
          path = "/openbao/data"
          
          retry_join {
            leader_api_addr = "http://openbao-0.openbao-internal:8200"
          }
          
          retry_join {
            leader_api_addr = "http://openbao-1.openbao-internal:8200"
          }
          
          retry_join {
            leader_api_addr = "http://openbao-2.openbao-internal:8200"
          }
        }
        
        service_registration "kubernetes" {}

  # StatefulSet Konfiguration
  statefulSet:
    enabled: true

  # Persistent Volumes
  dataStorage:
    enabled: true
    size: 10Gi
    storageClass: standard

  # Service Configuration
  service:
    enabled: true
    type: ClusterIP
    port: 8200

# UI aktivieren
ui:
  enabled: true
  serviceType: ClusterIP